@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<body style="background-color:lightsteelblue;">

<h1 class="text-danger text-center">We apologize!</h1>
<h3 class="text-black text-center">An error occurred while processing your request.</h3>
<h3 class="text-black text-center">Please try again later!</h3>

</body>



